{% load staticfiles %}
{{ article.body|safe }}
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!--<link href="http://bootswatch.com/slate/bootstrap.min.css" rel="stylesheet">-->
        <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->

        <link href="{% static 'dblog/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static 'dblog/jquery-1.8.2.min.js' %}"></script>
        <script src="{% static 'dblog/bootstrap.min.js' %}"></script>
        <!--[if lt IE 9]>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script>
        <![endif]-->
        <!--[if lt IE 9]>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script>
        <![endif]-->
    </head>
    
    <body class=""><div class="navbar navbar-default navbar-inverse navbar-static-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
                        <span class="icon-bar"></span><span class="icon-bar"></span>
                    </button><a class="navbar-brand" href="#">Mass Produced Angst</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#">Home</a>
                        </li>
                        <li><a href="#">Contacts</a>
                        </li>
                        <li>&nbsp&nbsp&nbsp&nbsp</li>
                    </ul>
                </div>
            </div>
        <div class="container">
            <br>
            
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-stacked nav-pills">
                        <li class="active"><a href="#">Nav1</a>
                        </li>
                        <li><a href="#">Nav2</a>
                        </li>
                        <li><a href="#">Nav3</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                           {% for article in article_list %}
                                {% if blog.authorID == article.authorID %}
                                <h2 class="article_title alert alert-info">{{ article.title }}</h2>
                                <div class="article_subtitle lead">{{ article.subtitle }}</div>
                                {% autoescape off %}
                                <div class="article_body">{{ article.body }}</div>
                                {% endautoescape %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    
                        
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">(c) 2013
                        <br>
                    </p>
                </div>
            </div>
        </div>
    

</body>

</html>